<!-- templates/dashboard/index.html -->
{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Мой Финансовый Дашборд</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Доходы</h5>
                <p class="card-text">Общая сумма: {{ income.amount__sum }} USD</p>
                <a href="{% url 'transactions' %}?category=&date=&transaction_type=income" class="btn btn-light">Посмотреть</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Расходы</h5>
                <p class="card-text">Общая сумма: {{ spent.spent__sum }}  USD</p>
                <a href="{% url 'transactions' %}?category=&date=&transaction_type=expense" class="btn btn-light">Посмотреть</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Бюджет</h5>
                <p class="card-text">Осталось: {{ last_budget.remainder__sum }} USD</p>
                <a href="{% url 'budgets' %}" class="btn btn-light">Посмотреть</a>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="#" class="btn btn-outline-secondary">Перейти к отчетам</a>
</div>
{% endblock %}
