<!-- templates/currencies.html -->
{% extends 'base.html' %}

{% block title %}Валюты{% endblock %}

{% block content %}
<h2>Мои Валюты</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Название валюты</th>
            <th>Курс к USD</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Евро</td>
            <td>1.10 USD</td>
            <td>
                <button class="btn btn-sm btn-warning">Редактировать</button>
                <button class="btn btn-sm btn-danger">Удалить</button>
            </td>
        </tr>
        <!-- Пример данных -->
    </tbody>
</table>

<button class="btn btn-primary">Добавить новую валюту</button>
{% endblock %}
