{% extends 'base.html' %}

{% block title %}Пароль изменён{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-header bg-success text-white">
                    <h5 class="card-title">Пароль успешно изменён</h5>
                </div>
                <div class="card-body">
                    <p>Ваш пароль был успешно изменён. Вы можете вернуться к работе.</p>
                    <a href="{% url 'accounts' %}" class="btn btn-primary">Вернуться в профиль</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
