/* budgets.css */
body {
    padding-top: 70px;
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 30px;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-outline-secondary {
    margin-top: 20px;
}

.transactions-page {
    max-width: 100%;
    margin: auto;
}

.transactions-table {
    table-layout: fixed;
    width: 100%;
}

.transactions-table th,
.transactions-table td {
    word-wrap: break-word;
    white-space: nowrap;
}

.filter-form input,
.filter-form select {
    font-size: 14px;
}

